$color_yellow:#9c783d;
$color_green:#213131;
$color_brown:#81746e;
$backgroundcolor_yellow:#9c783d;
$backgroundcolor_brown:#81746e;
$backgroundcolor_green:#213131;
$color_lite_yellow:#9c783da7;
$color_lite_green:#213131a7;
$color_lite_brown:#81746ea7;
$color_gray:#878585;