$backgroundcolor_green:hsla(177, 18%, 26%, 0.502);
$color_green:#364d4c;
$backgroundcolor_yellow:#9d783c80;
$color_yellow:#9d783c;
$backgroundcolor_brown:#998f8c80;
$color_brown:#998f8c;
$color_lite_yellow:#e3be17;
$backgroundcolor_lite_yellow:#e3be1780;
$backgroundcolor_lite_black:#00000080;
$color_gray:#878585;