@import './color.scss';
.swiperCard{
    .swiper {
        width: 60%;
        height: 375px;
      }
      
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
      }
      
      .swiper-slide:nth-child(1n) {
        background-color:$color_yellow;
       
      }
      
      .swiper-slide:nth-child(2n) {
        background-color: $color_green
      }
      
      .swiper-slide:nth-child(3n) {
        background-color: $color_brown
      }
      
      .swiper-slide:nth-child(4n) {
        background-color: $color_yellow
      }
      
      .swiper-slide:nth-child(5n) {
        background-color: $color_green
      }
      
      
      .swiper-slide:nth-child(6n) {
        background-color: $color_brown
      }
      
      .swiper-slide:nth-child(7n) {
        background-color: rgb(78, 116, 69);
      }
      
      .swiper-slide:nth-child(8n) {
        background-color: rgb(80, 94, 131);
      }
      
      .swiper-slide:nth-child(9n) {
        background-color: rgb(136, 107, 13);
      }
      
      .swiper-slide:nth-child(10n) {
        background-color:   rgb(162, 153, 79);
      }
      
}
@media(max-width:400px){
  .swiperCard {.swiper{
      width: 80%!important;

  }
}
}