.container{
    display: flex;
    justify-content: start;
    align-items: center;
    .image{
        width: 200px;
        height: 200px;
        position: relative;
        margin: 1rem;
        img{
            width: 100%;
            height: 100%;
        }
        button{
            position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        border: none;
        outline: none;
        padding: 0.5rem;
        color: red;
        }
    }
    .image-label{
        display: block;
        width: 200px;
        height: 200px;
        background: black;
        margin: 1rem;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
