.about p {
    font-weight: 500;
}
.aboutinfo .item {
    margin-bottom: 30px;
}
.aboutinfo .item strong {
    border-right: 5px solid rgb(49 115 219) !important;
    color: rgb(49 115 219) !important;
    font-weight: 600;
}
.col-md-6 strong{
    color:#c1970e
}