@import '../shared/animation.module.scss';
@import '../shared/color.scss';

a, a:hover {
    text-decoration: none;
    transition: 0.3s;
}
.btn.btn-primary {
    color: white;
    background-color: $color_lite_yellow;
    border-color: $color_lite_yellow;
}
