@import '../color.scss';
footer {
    background-color:$backgroundcolor_green !important;
}
@media (max-width: 767px) {
    .logo-footer.w-75 {
        width: 55% !important;
    }
}
.lines-5 {
    -webkit-line-clamp: 5;
}

.lines-1, .lines-2, .lines-3, .lines-4, .lines-5, .lines-6, .lines-7, .lines-8, .lines-9, .lines-10, .lines-11, .lines-12, .lines-13, .lines-14, .lines-15 {
    display: -webkit-box !important;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
footer .title {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    padding: 0;
}
footer ul.links li a {
    display: block;
    font-weight: 600;
    margin-bottom: 16px;
    color: white;
}
[dir="rtl"] footer ul.links li a::before {
    transform: translateX(16px);
}

[dir="rtl"] footer ul.links li a::before {
    left: auto;
    right: -15px;
}
footer ul.links li a::before {
    content: "";
    position: absolute;
    top: 65%;
    left: -15px;
    transform: translateY(-50%);
    width: 0px;
    height: 3px;
    background-color: #003f3f;
    transition: 0.4s ease-in-out;
    opacity: 0;
}
.bottom-footer {
    background-color: $backgroundcolor_brown
}
.bottom-footer p {
    font-weight: bold;
    color: #003f3f;
}
a, a:hover {
    text-decoration: none;
    transition: 0.3s;
}

.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (max-width: 991.98px) {
    .social-media li a {
        margin: auto 0.2rem;
    }
}
.social-media li a {
    display: inline-block;
    margin: auto 0.3rem;
}
.social-media li a i.fa-x-twitter {
    background-color: #000;
}

@media (max-width: 991.98px) {
    .social-media li a i {
        width: 25px!important;
        height: 25px!important;
        font-size: 12px;
    }

}
.social-media li a i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.social-media li a i.fa-x-twitter{
    color: white;

}
.social-media li a i.fa-linkedin-in {
    color: white;
    background-color: #007bb5;
}
.social-media li a i.fa-youtube {
    color: white;

    background-color: #e95950;
}
.social-media li a i.fa-instagram {
    color: white;

    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.social-media li a i.fa-snapchat {
    color: white;

    background-color: #ffcd36;
}
    .contact-link{
        color: white!important;
    }
