
.text-title {
    color: #c1970e !important ;
}
.services-wrap .services {
    padding: 25px;
    display: block;
    width: 100%;
    margin-bottom: 0px;
}

@media (max-width: 1199.98px) {
    .services {
        margin-bottom: 20px;
    }
}
.services {
    width: 100%;
    gap:10px;
    background: #3333330e;
    padding: 30px;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color:white;
    display: flex;
    /* transform: scale(0.9); */
}
/* .services:hover{
    background: #33333325;
    transform: scale(1);
} */
.services .icon {
    width: 50%;
    flex:none;
}
.services .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services p{
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-align: justify;
    margin: 0.5rem 0;
}
.icon img{
    width: 100%;
    height: 100%;
}
.swiper_container{
    min-height:30vh;
    max-height: 50vh;
    height: 35vh;
}
.swiper_container .services{
    height: 100%;
}