@import '../../shared/color.scss';
#layoutApp {
  display: flex;
  width: 100%;
  min-height: 100vh;

  .sidebar-wrapper {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    overflow-y: auto;
    background-color: white;
    bottom: 0;
    transition: left 0.7s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow:-1px 0px 6px 0px $color_brown;
    .sidebar-header {
      padding: 2rem 2rem 1rem;
      font-size: 2rem;
      font-weight: 700;
      img {
        height: 5rem;
      }

    }
    .menu {
      padding-left: 0;
      margin-top: 2rem;
      padding: 0 2rem;
      font-weight: 600;
      ol,
      ul,
      dl {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      .sidebar-title {
        padding: 0 1rem;
        margin: 1.5rem 0 1rem;
        font-size: 1rem;
        list-style: none;
        font-weight: 600;
        color: $color_green;
      }
      .sidebar-item {
        list-style: none;
        margin-top: 0.5rem;
        position: relative;
        cursor: pointer;
        .sidebar-link {
          display: block;
          padding: 0.7rem 1rem;
          font-size: 1rem;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          transition: all 0.5s;
          text-decoration: none;
          color: $color_green;
          &:hover {
            background-color: $backgroundcolor_green;
              color: white!important;
          }
          a {
            text-decoration: none;
            color: $color_green;
            text-decoration: underline;
          }
          span {
            margin-left: 1rem;
          }
        }
      }
    }
  }
  .navbar-toggler i {
    color: white;
    font-size: 28px;
    transition: 0.5s;
    
  }
  .navbar-toggler i::before {
    transition: all 0.5s;
  }
  #main {
    width: calc(100% - 250px);
    margin-right: 250px;
    position: relative;
    .page-heading {
      margin: 0 0 2rem;
      background-color: $color_yellow;
    }
    .page-heading h3,
    .page-heading .h3 {
      font-weight: 700;
    }
  }
  .dashboard-footer {
    width: 100%;
    text-align: center;
    color: white;
  }
}
.close-btn{
  display: none;
}
.mobile-view-layout{
  .close-btn{
    display: block;
  }
  #main{
    margin-right: 0!important;
    width: 100%!important;
  }
  .sidebar-wrapper{
    right: -250px!important;
  }
}
@media(max-width:800px){
  .sidebar-wrapper{
    position: fixed;
    display: none;
  }
  #main{
    margin-right: 0!important;
    width: 100%!important;
  }
  .mobile-view-layout{
    .sidebar-wrapper{
      display: block;
      right: 0!important;

    }
  }
}