@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css';
@import '../node_modules/swiper/swiper-bundle.css';
*{
    box-sizing: border-box!important;
    /* overflow: hidden; */
}
body,html{
    overflow-y: auto;
}
.loader-container-inner{
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    background-color: inherit;
    color: inherit;
    border-color:inherit
}